html,
body,
div,
p,
ul,
li,
ol,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
a {
    margin: 0;
    padding: 0;
    color: #696969;
    font-size: 1rem;
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
}

.ub-blue {
    color: blue;
}

.ub-red {
    color: red;
}

.ub-input {
    outline: none;
    display: inline-block;
    height: 30px;
    line-height: 1.5;
    padding: 2px 3px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
}

.ub-h2 {
    padding-bottom: .3em;
    font-size: 1.2em;
    border-bottom: 1px solid #eaecef;
    margin-bottom: 10px;
}

.ub-btn {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
}

#canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: -webkit-linear-gradient(#CCCCCC, #A3A3A3);
    background: -o-linear-gradient(#CCCCCC, #A3A3A3);
    background: -moz-linear-gradient(#CCCCCC, #A3A3A3);
    background: linear-gradient(#CCCCCC, #A3A3A3);
}

#main-container {
    width: 100%;
    height: 100%;
}

#screen-mask {
    z-index: 997;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.4);
}

.website-content-container {
    width: 80%;
    margin-left: 20%;
    .content-container {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (max-width:600px) {
    #screen-mask {
        background: rgba(0, 0, 0, 0.7);
    }
    .website-content-container {
        width: 100%;
        margin-left: 0px;
        .content-container {
            padding: 0px !important;
        }
    }
}