.tools-container {
	background: #fff;
	padding: 1rem;
	.tools-list {
    	margin-bottom: 1.5rem;
    	.tools-detail {
            margin-bottom: 0.5rem;
            list-style: none;
            clear: both;
            .tools-title {
                color: #444;
                font-size: 0.9em;
            }
            .tools-create-time {
                color: #aaa;
                font-family: "Courier New", monospace;
                font-size: 0.9rem;
                float: right;
                line-height: 180%;
            }
        }
    }

}