.website-footer {
    margin-bottom: 2rem;
    padding: 0px 0.5rem 1rem 0.5rem;
    font-size: 0.8rem;
    .website-copy-right {
        float: left;
        p {
            color: #fff;
            font-size: 0.8rem;
            span {
                color: #fff;
                font-size: 0.8rem;
            }
            a {
                color: #F0F8FF;
                margin-right: 0.5rem;
                font-size: 0.8rem;
            }
            a:hover {
                color: #FFFFFF;
            }
        }
    }
    .website-intro {
        float: right;
        a {
            float: right;
            color: #fff;
            font-size: 0.8rem;
        }
    }
}
@media screen and (max-width:600px) {
    .website-footer {
        text-align: center;
        .website-copy-right {
            width: 100%;
            padding-bottom: 1rem;
        }
        .website-intro {
            display: none;
        }
    }
}