.leave-container {
	background: #fff;
	padding: 1rem;
    .leave-textarea {
        height: 150px;
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        resize: none;
        outline: none;
        color: #666;
    }
    .leave-mail-input {
        width: 200px;
    }
    .leave-submit {
        text-align: right;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .leave-lists {
        .leave-li {
            font-size: 13px;
            margin-bottom: 5px;
            list-style: none;
            .ub-user {
                font-size: 13px;
                color: blue;
            }
            .ub-content {

            }
        }
        .load-more {
            a {
                color: #296bcc;
            }
        }
    }
    
}