.article-detail-container {
	background: #fff;
	padding: 1rem;
	.article-title {
		font-size: 1.4rem;
		color: #222;
		margin: 1rem 0;
	}
	.article-content {
		.v-note-wrapper {
			box-shadow: none !important;
		}
		.v-show-content {
			padding: 0 !important;
			background: #fff !important;
		}
		.article-footer {
			padding: 10px 0;
			p {
				font-size: 12px;
				a {
					font-size: 12px;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
		.comment-lists {
			margin-top: 3rem;
	        .comment-li {
	            font-size: 13px;
	            margin-bottom: 5px;
	            list-style: none;
	            .ub-user {
	                font-size: 13px;
	                color: blue;
	            }
	            .ub-content {

	            }
	        }
	        .load-more {
	            a {
	                color: #296bcc;
	            }
	        }
	    }
	}
}