.admin-form-container {
    .body-card {
        margin-bottom: 20px;
        .card-title {
            padding: 10px 5px;
            border-bottom: 1px solid #eee;
            margin-bottom: 20px;
        }
        .card-content {
        }
    }
}