.common-home-container {
    .home-detail-box {
        margin-bottom: 20px;
    }
    .ub-face {
        .avator-img {
            max-width: 80%;
        }
        .data-box {
            height: 100%;
            .user-name {
                color: #2d8cf0;
                margin-bottom: 10px;
                .user-role {
                    color: #ed3f14;
                    font-weight: normal;
                    font-size: 14px;
                }
            }
            .user-detail-data {
                p {
                    color: #80848f;
                    font-weight: normal;
                }
            }
        }
    }
    .ub-online-history {
        .online-chart {}
    }

}