.login-container {
    position: relative;
    height: 100vh;
    background-color: #2d3a4b;
}

.login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 450px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
    background: #fafafa;
}